body {
    font-size: 15pt;
    background:url("https://source.unsplash.com/random/mountains") no-repeat fixed;
    background-size: cover;
}
#btn{
  color:black;
}
#conta{
  height: 50vh;
  position: relative;
  top: 15vh;
  color:white;
  /*text-shadow: 5px 5px 8px black;*/
  text-align: center;
  padding-top: 7vh;
  letter-spacing: 1px;
  /*part 1 
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  color: whitesmoke; 
  part-2
  text-shadow:
    3px 3px 1px #000,
    -3px 3px 1px #000,
    -3px -3px 0 #000,
    3px -3px 0 #000;*/
  /*part3*/
	-webkit-text-stroke: 1px #F8F8F8;
	text-shadow: 0px 1px 4px #23430C;
}
#btn{
  color : whitesmoke;
  background: none;
  border: none;
  font-size: 12pt;
  position: absolute;
  bottom : -30px;
  right: 10px;

  text-shadow: 5px 5px 8px black;
}

